@use './common.scss' as *;

body {
    max-width:1680px; min-width:320px;
    margin:0 auto;
    #container {
        @include flex-row;
        justify-content: center; // 필요하면 중앙 정렬
        gap: 40px;   
        padding: 50px 40px;
        .overview_img { background-color: aqua;
            @include flex-col;
            gap: 30px;
            .overview_big { 
                @include overview;
                position: relative;
                overflow: hidden;
                img {
                    display: inline-block;
                    @include img100Percent;
                }
                img.active {
                    border-radius: 15px;
                }
                .btn_wraper {   
                    opacity: 1;
                    .back{
                        .back_scroll {
                            position: absolute;
                            top: 50%;
                            left: 10px;
                            z-index: 3;
                            transform: translate(-70px, -50%);
                            transition: transform 0.1s ease ;
                            .back_short_btn {
                                background-color: $color-white;
                                border-radius: 50%;
                                @include icon48;
                                box-shadow: 0 4px 10px rgba(0,0,0,0.2);
                                svg {
                                    @include icon20;
                                    transform: scaleX(-1);
                                }
                            }
                            .back_short_btn:hover {
                                background-color: $color-white;
                                border-radius: 50%;
                                @include icon48;
                                svg{
                                }
                            }
                        }
                    }
                    .next { background-color: aqua;
                        .next_scroll {
                            position: absolute;
                            top: 50%;
                            right: 10px; // 오른쪽 끝
                            transform: translate(70px, -50%); // 세로 가운데 정렬
                            transition: transform 0.1s ease ;
                            z-index: 3;
                            .forth_short_btn {
                                background-color: $color-white;
                                border-radius: 50%;
                                box-shadow: 0 4px 10px rgba(0,0,0,0.2);
                                @include icon48;
                                svg {
                                    @include icon20;
                                }
                            }
                        }
                    }
                }
            }
            &:hover .overview_big {
                .btn_wraper{
                    opacity: 1;
                    .back_scroll {
                        transform: translate(0px, -50%);
                        transition: transform 0.1s ease ; 
                    }
                    .next_scroll {
                        transform: translate(0px, -50%);
                        transition: transform 0.1s ease ;;
                    }
                }
            }
            .thumnail {
                width: 860px;
                display: flex;
                gap: 12px;
                a {
                    height: 106px;
                    img {
                        border-radius: 15px;
                        @include thumnail;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%; 
                    height: 2px;
                    background-color: #000;
                    transform: scaleX(0);              // 처음엔 안 보이게
                    transform-origin: center;          // 가운데에서 양옆으로
                    transition: transform 0.3s ease-in-out;
                }
                &.active::after{
                    transform: scaleX(1);
                }
            }
        }   
        .contents { 
            .point_word {
                @include flex-row;
                gap: 12px;
                h2 {
                    margin: 0 0 12px;
                    border-radius: 5px;
                    padding: 2px 8px;
                    font-size: $font-size-12;
                }
                .new { color: $color-white; background-color: $color-new; }
                .hydrate { color: $color-white; background-color: $color-hydrate; }
            }
            .title {
                h1 {
                    font-weight: $weight-bold;
                    margin: 0 0 6px;
                    font-size: $font-size-30;
                }
                p {
                    font-size: $font-size-17;
                    color: $color-gray;
                }
            }
            .price_size {
                @include flex-row;
                text-align: center;
                padding: 10px 0 10px;
                gap: 15px;
                h2 {margin: 0;}
                .price_25 {
                    color: $color-navy;
                    font-weight: $weight-semibold;
                    font-size: $font-size-23;
                    }
                .bottle {
                    color: $color-grayv2;
                    padding-top: 8px;
                    text-align: center;
                    font-size: $font-size-14;
                }
            }
            .quantity {
                margin-bottom: 32px;
                p {font-weight: $weight-semibold;
                    font-size: $font-size-16;
                    padding-bottom: 8px;
                }
                .quantity_num {
                    width: 138px;
                    height: 48px;
                    display: inline-flex;
                    background-color: #000;
                    padding: 6px 10px;
                    border-radius: 35px;
                    justify-content: center;
                    text-align: center;
                    .num {
                        @include flex-row;
                        #order_num {
                            background-color: #000;
                            color: $color-white;
                            height: 30px;
                            text-align: center;
                            width: 44px;
                        }
                        #minus_btn {
                            svg {
                                @include icon18;
                                color: $color-white;}
                        }
                        #plus_btn {
                            svg{
                                @include icon18;
                                fill: $color-white;
                            }
                        }
                    }
                }
            }
            .purchase {
                font-size: $font-size-16;
                border-radius: 15px;
                border: 1px solid $color-grayv3;
                .onetime_p {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid $color-grayv3;
                    padding: 22px 16px; 
                    #onetime {}                               
                    .one_purchase {
                        color: $color-grayv3;
                    }                  
                }
                .month_box {
                    @include flex-col;
                    padding: 22px 16px;
                    .save_p {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 15px;
                        .subs {
                            color: $color-gray;
                        }
                        .subs_purchase {
                            color: $color-gray;
                        }
                            }
                    .months {
                        @include flex-col;
                        gap: 10px;
                        .every_p {}
                        .every2_p {}
                        .every3_p {}
                    }
                }
            }
            .policy {
                margin: 8px 0 36px;
                p {
                    a {
                        text-decoration : underline;
                        text-underline-position:under;}
                }
            }
            .cart {
                padding: 15px;
                text-align: center;
                background-color: $color-black;
                    border-radius: 30px;
                .cart_btn {
                    color: $color-white;
                    
                }
            }
            .wishlist {text-align: center;
                padding: 10px 10px;
                margin: 15px 0;
                a {gap:10px;
                    display: inline-flex;        // inline으로 유지하면서 flex 적용
                align-items: center;         // 세로 가운데 정렬
                gap: 6px;            
                    .heart {@include icon18;
                        fill:$color-white;
                        stroke: #000;
                        stroke-width: 1px;
                    }
                    .add_wish {
                        }
                }
            }
            .blank_box{ 
                @include flex-row;
                justify-content: center;
                gap: 14px;
                margin: 20px 0px;
                .box1 {
                    border: 1px solid black;
                    border-radius: 15px;
                    background-color: $color-white;
                    width: 148px;
                    height:263px;
                }
                .box2 {
                    border: 1px solid black;
                    border-radius: 15px;
                    background-color: $color-white;
                    width: 148px;
                    height:263px;
                }
            }
            .info {
                border-top: 1px solid $color-gray;
                border-bottom:1px solid $color-gray; ;
                border-top: 1px solid $color-gray;
                padding-top: 20px;
                a { @include flex-row;
                    justify-content: space-between;
                    .summery {
                        
                        padding-bottom: 16px;
                        p {
                            font-size: $font-size-19;
                            font-weight: $weight-semibold;
                        }
                    }
                    .sum_img { 
                        @include icon14;
                        svg { }
                    }
                }
                .sum_info {
                    font-size: $font-size-16;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.1s ease, padding 0.1s ease;
                    span {}
                }        
                .sum_info.open {
                max-height: 500px; // 열릴 때 예상되는 높이보다 충분히 크게
                padding: 16px 0;
                }
                .benefits {
                    border-top: 1px solid $color-gray;
                    padding: 16px 0;
                    @include flex-col;;
                    justify-content: center;
                    a {
                        font-size: $font-size-19;
                            font-weight: $weight-semibold;
                        display: flex;
                        align-items: center; // 세로 가운데 맞춤
                        gap: 6px;
                        svg {
                            @include icon14;
                        }
                    }
                    .benefits_info {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.1s ease, padding 0.1s ease;
                        h2 {
                            padding-bottom: 10px;
                            font-size: $font-size-16;
                            font-weight: $weight-semibold;
                        }
                        .benefits_list {
                            font-size: $font-size-16;
                            text-align: left;
                        }
                    }
                    .benefits_info.open {
                    max-height: 500px; // 충분히 크게
                    padding: 16px 0;
                    }
                }
            }
        }
    }    
}