
body {
    background-color: cornsilk;
    min-width: 320px;
    display: flex;
    justify-content: center; /* 가로 가운데 */
    align-items: center; /* 세로 가운데 */
    min-height: 100vh; /* 화면 높이 전체 */
    margin: 0;
}
#wrap {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    background-image: url(https://i.pinimg.com/736x/a8/01/20/a801208c504b2fc76a35730c4530e220.jpg);
    background-size: cover;
    background-position: center;
    width: 450px;
    height: 600px;
    justify-content: center;
    border-radius: 15px;
}
#wrap .main {}
#wrap .main .m_d_y {
    display: flex;
    gap: 13px;
    justify-content: center;
}
#wrap .main .year #ur_year {
    background-color: rgba(255, 220, 230, 0.75);
    text-align: center;
    color: white;
    border-radius: 15px;
    width: 80px;
    padding: 10px 0;
}
#wrap .main .date #ur_date {
    background-color: rgba(255, 220, 230, 0.75);
    text-align: center;
    color: white;
    border-radius: 15px;
    width: 80px;
    padding: 10px 0;
}
#wrap .main .month #ur_month {
    background-color: rgba(255, 220, 230, 0.75);
    text-align: center;
    color: white;
    border-radius: 15px;
    width: 80px;
    padding: 10px 0;
}
#wrap .main .btn {
    margin-top: 60px;
}
#wrap .main .btn .chk_btn {
    padding: 20px 15px;
    background-color: rgba(255, 220, 230, 0.75);
    color: white;
    border-radius: 15px;

}
#wrap .main .result {
    padding: 10px;
    background-color: rgba(253, 233, 176, 0.75);
}
input::placeholder {
    color: white;
}
.flowerImg{
    border-radius: 15px;
    transition: 1s;
}
