body {
    background-image:url(../images/baskground.jpg);
    background-repeat: no-repeat; background-size: cover;
    background-position: top;
    min-width: 320px;
    display: flex;
    justify-content: center;  /* 가로 가운데 */
    align-items: center;      /* 세로 가운데 */
    min-height: 80vh;        /* 화면 높이 전체 */
    margin: 0;
}
#container {
    background-color: aliceblue;
    text-align: center; display: flex; flex-flow: column nowrap;
    width: 600px; height: 550px;
    padding:15px 15px ;}
#container .title {
    padding: 10px 10px;
    background-color: aquamarine;
}
#container .title h2{

}
.main { margin-top: 100px;
    }
#container .height {
    padding: 10px 10px;
    background-color: aqua;}
#container .height .body_h {}
#container .height #userHeight {background-color: bisque;}
#container .weight {
    padding: 10px 10px;background-color: aqua;}
#container .weight .body_w {}
#container .weight #userWeight{background-color: bisque;}
#container .result_btn {background-color: aqua;
    padding: 10px 10px;
margin-top: 50px;}
#container .result_btn .btn {}
#container .result {margin-top: 200px;}

